@import url(./font.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 81.25%;
    line-height: 1.15;
    color: #444;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bgbody);
    font-family: var(--font-body);
    font-weight: 200;
    line-height: 157.1428571429%;
    color: #444;
}


/* global usage */



/* for the posters with only title */



/* for the poster with price */




/* for the text blocks */




/* for the main images */



/* for the links */



/* for the buttons */