@use "./general";
.footer{
    width: 100%;
    background-color: #fffcf7;


    //main footer
    &-main{
        @extend %flex-column;
        background-color: #fff;



        //responsive of footer-main
        @include general.minWidth(768px){
            flex-flow: row wrap;
            justify-content: space-between;
        }

        //links section
        &__links{
            order: 2;
            padding: 0 general.rem(25);
            border-bottom: 1px solid #f6f1eb;



            //responsive of links block
            @include general.minWidth(768px){
                order: 0;
                padding: 0 general.rem(35);
                flex-basis: 100%;
                display: flex;
                justify-content: space-between;
                
            }


            .links-nav{
                padding: general.rem(20) 0 general.rem(19);
                border-bottom: 1px solid #e2d8ce;

                //responsive of links-nav
                @include general.minWidth(768px){
                    border-bottom: none;
                }
                &:last-child{
                    border-bottom: none;
                }

                //elements of links-nav
                &__btn{
                    @extend %btn;
                    font-family: var(--font-title);
                    font-size: general.$font-size-breadcrumb;
                    line-height: general.rem(22);
                    height: general.rem(40);
                    width: 100%;
                    padding: general.rem(10) general.rem(1);
                    display: flex;
                    justify-content: space-between;
                    text-align: left;



                    //responsive of links-btn
                    @include general.minWidth(768px){
                        justify-content: start;
                    }
                }
                
                &__title{
                    display: inline-block;
                }
                &__plus{
                    display: inline-block;
                    @include general.dimension(12, 12);
                }
            }
        }


        //address section
        &__address{
            order: 1;
            @include general.padding(30, 25, 25, 25);
            border-bottom: 1px solid #f6f1eb;
            font-size: general.$font-size-mini-text;
            line-height: general.rem(20);

            //responsive of address
            @include general.minWidth(768px){
                order: 0;
                @include general.padding(24, 48, 24, 35);
                flex: 1 1 0%;
                display: flex;
            }

            //elements of address section
            h-address{
                display: block;
            }
            .address-heading{
                @extend %footer-heading;
            }
            ul{
                list-style: none;
                
                li:last-child{
                    @include general.margin(3, 0, 16, 0);
                }
                a{
                    color: #444;
                }
            }
            .address-description{
                font-size: var(--font-size-paragraph);
                padding-right: general.rem(15);
                color: #696969;
            }
            .email-us{
                color: #444;
                font-size: general.$font-size-mini-text;
            }
        }



        //subscribe section
        &__subscribe{
            order: 4;
            @include general.padding(20, 25, 20, 25);
            border-bottom: 1px solid #f6f1eb;


            //responsive of subscribe secion
            @include general.minWidth(768px){
                order: 0;
                width: general.rem(340);
                padding: general.rem(24) 0;
            }

            //elements of subscribe section
            h-subscribe{
                display: block;
                text-align: center;
            }


            .subscribe-heading{
                @extend %footer-heading;
            }
            .subscribe-description{
                font-size: general.$font-size-mini-text;
                margin-bottom: general.rem(10);
            }
            .subscribe-btn{
                @extend %btn;
                min-height: general.rem(40);
                width: 50%;
                max-width: general.rem(240);
                min-width: general.rem(200);
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: 1px solid #444;
                @include general.padding(9.5, 18, 9.5, 18);
                font-size: var(--font-size-cta);
                font-weight: 450;
            }
        }



        //social section
        &__social{
            order: 3;
            @include general.padding(30, 25, 30, 25);
            border-bottom: 1px solid #f6f1eb;


            //responsive of social block
            @include general.minWidth(768px){
                order: 0;
                @include general.padding(24, 35, 24, 48);
                flex: 1 1 0%;
                display: flex;
                justify-content: flex-end;
            }


            //elements of social
            h-social{
                display: block;

                ul{
                    @extend %flex;
                    list-style: none;
                    flex-wrap: wrap;

                    //responsive of ul
                    @include general.minWidth(768px){
                        min-width: general.rem(180);

                    }

                    li{
                        margin-right: general.rem(51.3333);
                        margin-bottom: general.rem(18);


                        
                        
                        //responsive of li
                        @include general.minWidth(768px){
                            margin-right: general.rem(28);
                            
                        }
                        &:last-child{
                            @include general.minWidth(768px){
                                margin-right: 0;
                            }
                        }
                        
                        
                    }
                }
            }

            .social-heading{
                @extend %footer-heading;
            }


            .social__link{
                @extend %link;
            }
            .social__svg{
                display: inline-block;
                @include general.dimension(24, 24);
            }

        }
    }




    //tail footer
    &-tail{


        //responsive of footer-tail
        @include general.minWidth(768px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        
        //elements of footer tail
        h-country-selector{
            display: block;
            @include general.padding(20, 25, 20, 25);
            text-align: center;
            border-bottom: 1px solid #f6f1eb;

            //respon
            @include general.minWidth(768px){
                text-align: start;
                border-bottom: none;
            }
        }

        .select-country{
            @extend %btn;
            font-size: general.$font-size-title-small;
            line-height: general.rem(22);
            font-family: var(--font-title);
        }
        .right-arrow{
            @include general.dimension(7, 10);
            @include general.margin(0, 0, 0, 15);
        }
        


        h-hermes-logo{
            display: block;
            margin: general.rem(35) auto;
            width: fit-content;


            //respon
            @include general.minWidth(768px){
                display: none;
            }
        }
        .hermes-logo{
            display: inline-block;
            width: general.rem(90);
            height: auto;
        }
    }





    // copyright footer
    &-copyright{


        //respon
        @include general.minWidth(768px){
            padding: 0 general.rem(35);
            width: 100%;
        }


        //elements
        h-copyright{
            display: block;
            width: 100%;
            @include general.padding(0, 25, 20, 25);

            //respon
            @include general.minWidth(768px){
                width: unset;
                white-space: nowrap;
                padding: general.rem(20) 0;
            }
        }
        p{
            text-align: center;
            color: #444;

            @include general.minWidth(768px){
                padding-left: general.rem(10);
                text-align: right;
            }
        }
    }
}
