/*mixins*/
/*display setup*/
.main-category__wrapper .category-media, .main-product__wrapper .product-media, .footer-main__social h-social ul, .header-main__bar, .header-main__bar .menu, .header-main__bar .search, .header-main__bar .personal ul, .header-main__bar .personal ul li, .header-main__bar .personal ul .cart {
  display: flex;
}
h-root, .footer-main {
  display: flex;
  flex-direction: column;
}

.header-main, .header-main__bar .search, .header-main__bar .personal ul .account #account-link {
  position: relative;
}

/*mixins*/
/*elements*/
.footer-main__links .links-nav__btn, .footer-main__subscribe .subscribe-btn, .footer-tail .select-country, .header-useful__btn, .header-main__btn {
  text-decoration: none;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #444;
}

.main-textblock__wrapper a, .main-category__wrapper .category-link__wrapper, .main-product__wrapper .product-link__wrapper, .footer-main__social .social__link, .header-useful__link, .header-main__logo .main__link, .header-main__bar .personal ul a, .header-main__bar .personal ul .account #account-link {
  text-decoration: none;
  color: #444;
  cursor: pointer;
}

.header-main__bar .search-bar__input {
  border: none;
  outline: none;
  color: #000;
}

@font-face {
  font-family: "Filosofia";
  src: url("../../docs/fonts/FilosofiaUnicase.ttf");
}
@font-face {
  font-family: "Orator W01";
  src: url(../../docs/fonts/OratorW01Medium.ttf);
}
@font-face {
  font-family: "Helvetica W01";
  src: url(../../docs/fonts/HelveticaW01Roman.ttf);
}
@font-face {
  font-family: "Akkurat";
  src: url(../../docs/fonts/Akkurat-Regular.ttf);
}
@font-face {
  font-family: "Jungle-Regular";
  src: url(../../docs/fonts/JungleDF.ttf);
}
.footer-main__address .address-heading, .footer-main__subscribe .subscribe-heading, .footer-main__social .social-heading {
  font-size: 1.2307692308rem;
  font-family: var(--font-title);
  margin-bottom: 0.7692307692rem;
  font-weight: 400;
  line-height: 1.6923076923rem;
  display: inline-block;
}

.header {
  width: 100vw;
  max-width: 100%;
}
.header-useful {
  display: none;
  padding: 0 1.8461538462rem;
  margin: 0 auto;
}
.header-useful ul {
  list-style-type: none;
  line-height: 1rem;
  float: right;
}
.header-useful ul li {
  display: inline-block;
  padding: 0rem 0rem 0rem 0.2782076923rem;
  margin: 0rem 0rem 0rem 2rem;
  height: 1rem;
}
.header-useful__btn {
  font-size: 0.8461538462rem;
  line-height: 1;
}
.header-useful__link {
  font-size: 0.8461538462rem;
  font-family: var(--font-body);
}
.header-useful::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 768px) {
  .header-useful {
    display: block;
    width: 100%;
    max-width: 1920px;
    padding-top: 1.0769230769rem;
  }
}
@media screen and (min-width: 1920px) {
  .header-useful {
    padding: 0;
  }
}
.header-main {
  max-width: 100%;
  background-color: rgba(246, 241, 235, 0.7);
  height: 3.8461538462rem;
  z-index: 100;
}
.header-main_wrapper {
  margin: 0rem 1.2307692308rem 0rem 1.2307692308rem;
}
@media screen and (min-width: 768px) {
  .header-main_wrapper {
    margin: 0 1.8461538462rem;
    padding: 0.6153846154rem 0;
    height: 100%;
  }
}
.header-main__logo {
  opacity: 1;
  position: absolute;
  top: 4;
  left: 50%;
  z-index: 2;
}
.header-main__logo .main__link {
  box-sizing: content-box;
  padding: 0.4230769231rem 0rem 0rem 0.1538461538rem;
}
.header-main__logo .main__svg {
  display: block;
  transform: translate(-44%, -44%);
  width: 4.6153846154rem;
  height: 2.7692307692rem;
}
@media screen and (min-width: 768px) {
  .header-main__logo .main__svg {
    width: 6.4615384615rem;
    height: 3.6923076923rem;
  }
}
@media screen and (min-width: 768px) {
  .header-main__logo {
    top: 0.5384615385rem;
  }
}
.header-main__bar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 1920px;
  height: 3.8461538462rem;
}
.header-main__bar .menu {
  width: 3.8461538462rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-main__bar .menu {
    width: 10.7692307692rem;
  }
}
.header-main__bar .search {
  flex-grow: 1;
  padding-left: 0;
  align-items: center;
}
.header-main__bar .search-bar {
  width: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.header-main__bar .search-bar__icon {
  display: block;
  width: 1.5384615385rem;
  height: 1.5384615385rem;
  position: absolute;
  top: 50%;
  left: 4;
  transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-main__bar .search-bar__icon {
    left: 0.6923076923rem;
  }
}
.header-main__bar .search-bar__input {
  padding: 0;
  font-size: 1.2307692308rem;
  line-height: 2;
  width: 0;
  height: 1.8461538462rem;
  transition: text-indent 0.3s ease-out;
}
.header-main__bar .search-bar__input:focus {
  outline: none;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .header-main__bar .search-bar__input {
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.5019607843);
    text-indent: 0;
    width: 10.7692307692rem;
    height: 2.7692307692rem;
    padding-left: 3.0769230769rem;
    transition: width 0.2s ease-out;
  }
}
.header-main__bar .personal ul {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 1920px;
  height: 3.8461538462rem;
  list-style: none;
}
.header-main__bar .personal ul li {
  align-items: center;
}
.header-main__bar .personal ul a {
  display: flex;
  align-items: center;
}
.header-main__bar .personal ul .account {
  justify-content: center;
  width: 3.8461538462rem;
}
.header-main__bar .personal ul .account #account-link {
  cursor: pointer;
  height: auto;
}
@media screen and (min-width: 768px) {
  .header-main__bar .personal ul .account {
    width: 8.7692307692rem;
    justify-content: flex-end;
  }
}
.header-main__bar .personal ul .cart {
  margin-left: 1.1538461538rem;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .header-main__bar .personal ul .cart {
    margin-left: 2.3076923077rem;
  }
}
.header-main__bar .personal__svg {
  display: block;
  width: 1.5384615385rem;
  height: 1.5384615385rem;
}
.header-main__bar .personal__label {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-main__bar .personal__label {
    display: block;
    font-size: 1.0769230769rem;
    font-family: var(--font-body);
    color: #000;
    padding: 0.5rem 0rem 0.3846153846rem 0.7692307692rem;
  }
}
.header-main__btn {
  display: flex;
  align-items: center;
}
.header-main__btn .btn--icon {
  display: block;
  width: 1.5384615385rem;
  height: 1.5384615385rem;
}
.header-main__btn .btn--label {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-main__btn .btn--label {
    display: block;
    color: #000;
    padding: 0rem 0rem 0rem 0.7692307692rem;
  }
}
@media screen and (min-width: 768px) {
  .header-main {
    width: 100vw;
    height: 4.7692307692rem;
  }
}

.footer {
  width: 100%;
  background-color: #fffcf7;
}
.footer-main {
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .footer-main {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.footer-main__links {
  order: 2;
  padding: 0 1.9230769231rem;
  border-bottom: 1px solid #f6f1eb;
}
@media screen and (min-width: 768px) {
  .footer-main__links {
    order: 0;
    padding: 0 2.6923076923rem;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.footer-main__links .links-nav {
  padding: 1.5384615385rem 0 1.4615384615rem;
  border-bottom: 1px solid #e2d8ce;
}
@media screen and (min-width: 768px) {
  .footer-main__links .links-nav {
    border-bottom: none;
    flex-grow: 1;
  }
}
.footer-main__links .links-nav:last-child {
  border-bottom: none;
}
.footer-main__links .links-nav__btn {
  font-family: var(--font-title);
  font-size: 1.2307692308rem;
  line-height: 1.6923076923rem;
  height: 3.0769230769rem;
  width: 100%;
  padding: 0.7692307692rem 0.0769230769rem;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer-main__links .links-nav__btn {
    justify-content: start;
  }
}
.footer-main__links .links-nav__title {
  display: inline-block;
}
.footer-main__links .links-nav__plus {
  display: inline-block;
  width: 0.9230769231rem;
  height: 0.9230769231rem;
}
.footer-main__address {
  order: 1;
  padding: 2.3076923077rem 1.9230769231rem 1.9230769231rem 1.9230769231rem;
  border-bottom: 1px solid #f6f1eb;
  font-size: 0.9230769231rem;
  line-height: 1.5384615385rem;
}
@media screen and (min-width: 768px) {
  .footer-main__address {
    order: 0;
    padding: 1.8461538462rem 3.6923076923rem 1.8461538462rem 2.6923076923rem;
    flex: 1 1 0%;
    display: flex;
  }
}
.footer-main__address h-address {
  display: block;
}
.footer-main__address ul {
  list-style: none;
}
.footer-main__address ul li:last-child {
  margin: 0.2307692308rem 0rem 1.2307692308rem 0rem;
}
.footer-main__address ul a {
  color: #444;
}
.footer-main__address .address-description {
  font-size: var(--font-size-paragraph);
  padding-right: 1.1538461538rem;
  color: #696969;
}
.footer-main__address .email-us {
  color: #444;
  font-size: 0.9230769231rem;
}
.footer-main__subscribe {
  order: 4;
  padding: 1.5384615385rem 1.9230769231rem 1.5384615385rem 1.9230769231rem;
  border-bottom: 1px solid #f6f1eb;
}
@media screen and (min-width: 768px) {
  .footer-main__subscribe {
    order: 0;
    width: 26.1538461538rem;
    padding: 1.8461538462rem 0;
  }
}
@media screen and (min-width: 1920px) {
  .footer-main__subscribe {
    width: 33.8461538462rem;
  }
}
.footer-main__subscribe h-subscribe {
  display: block;
  text-align: center;
}
.footer-main__subscribe .subscribe-description {
  font-size: 0.9230769231rem;
  margin-bottom: 0.7692307692rem;
}
.footer-main__subscribe .subscribe-btn {
  min-height: 3.0769230769rem;
  width: 50%;
  max-width: 18.4615384615rem;
  min-width: 15.3846153846rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #444;
  padding: 0.7307692308rem 1.3846153846rem 0.7307692308rem 1.3846153846rem;
  font-size: var(--font-size-cta);
  font-weight: 450;
}
.footer-main__social {
  order: 3;
  padding: 2.3076923077rem 1.9230769231rem 2.3076923077rem 1.9230769231rem;
  border-bottom: 1px solid #f6f1eb;
}
@media screen and (min-width: 768px) {
  .footer-main__social {
    order: 0;
    padding: 1.8461538462rem 2.6923076923rem 1.8461538462rem 3.6923076923rem;
    flex: 1 1 0%;
    display: flex;
    justify-content: flex-end;
  }
}
.footer-main__social h-social {
  display: block;
}
.footer-main__social h-social ul {
  list-style: none;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-main__social h-social ul {
    min-width: 13.8461538462rem;
  }
}
@media screen and (min-width: 1920px) {
  .footer-main__social h-social ul {
    min-width: 19.2307692308rem;
  }
}
.footer-main__social h-social ul li {
  margin-right: 3.9487153846rem;
  margin-bottom: 1.3846153846rem;
}
@media screen and (min-width: 768px) {
  .footer-main__social h-social ul li {
    margin-right: 2.1538461538rem;
  }
}
@media screen and (min-width: 1920px) {
  .footer-main__social h-social ul li {
    margin-right: 3.9487153846rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-main__social h-social ul li:last-child {
    margin-right: 0;
  }
}
.footer-main__social .social-heading {
  margin-bottom: 2.3076923077rem;
}
.footer-main__social .social__svg {
  display: inline-block;
  width: 1.8461538462rem;
  height: 1.8461538462rem;
}
@media screen and (min-width: 768px) {
  .footer-tail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-tail h-country-selector {
  display: block;
  padding: 1.5384615385rem 1.9230769231rem 1.5384615385rem 1.9230769231rem;
  text-align: center;
  border-bottom: 1px solid #f6f1eb;
}
@media screen and (min-width: 768px) {
  .footer-tail h-country-selector {
    text-align: start;
    border-bottom: none;
  }
}
.footer-tail .select-country {
  font-size: 1.2307692308rem;
  line-height: 1.6923076923rem;
  font-family: var(--font-title);
}
.footer-tail .right-arrow {
  width: 0.5384615385rem;
  height: 0.7692307692rem;
  margin: 0rem 0rem 0rem 1.1538461538rem;
}
.footer-tail h-hermes-logo {
  display: block;
  margin: 2.6923076923rem auto;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .footer-tail h-hermes-logo {
    display: none;
  }
}
.footer-tail .hermes-logo {
  display: inline-block;
  width: 6.9230769231rem;
  height: auto;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    padding: 0 2.6923076923rem;
    width: 100%;
  }
}
.footer-copyright h-copyright {
  display: block;
  width: 100%;
  padding: 0rem 1.9230769231rem 1.5384615385rem 1.9230769231rem;
}
@media screen and (min-width: 768px) {
  .footer-copyright h-copyright {
    width: unset;
    white-space: nowrap;
    padding: 1.5384615385rem 0;
  }
}
.footer-copyright p {
  text-align: center;
  color: #444;
}
@media screen and (min-width: 768px) {
  .footer-copyright p {
    padding-left: 0.7692307692rem;
    text-align: right;
  }
}

.main {
  /*media query*/
}
.main h-main {
  display: block;
  height: 100%;
  padding-bottom: 4.6153846154rem;
}
.main-video__wrapper {
  width: 100%;
  padding: 3.0769230769rem 0;
  max-width: 1920px;
  margin: 0 auto;
}
.main-video__wrapper .main-ads-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-textblock__wrapper {
  margin: 0 1.2307692308rem;
  padding: 3.0769230769rem 1.5384615385rem;
  text-align: center;
  font-weight: 200;
}
.main-textblock__wrapper .textblock-title {
  font-family: var(--font-title);
  font-size: 2.4615384615rem;
  line-height: 2.4615384615rem;
  font-weight: var(--font-weight-title);
  margin: 0 0 1.5384615385rem;
  overflow-wrap: break-word;
}
.main-textblock__wrapper .textblock-intro {
  font-family: var(--font-body-secondary);
  font-size: 1.2307692308rem;
  line-height: 1.8461538462rem;
  overflow-wrap: break-word;
  margin: 1em 0;
}
.main-textblock__wrapper .textblock-intro:last-child {
  margin-bottom: 0;
}
.main-textblock__wrapper a {
  padding-bottom: 0.1538461538rem;
  border-bottom: 1px solid #444;
}
.main-whiteblock__wrapper {
  margin: 0 1.2307692308rem;
  padding: 3.0769230769rem 1.5384615385rem;
}
.main-category__wrapper {
  margin: 0 1.2307692308rem;
  padding: 3.0769230769rem 0;
}
.main-category__wrapper .category-media {
  list-style: none;
  width: 100%;
  flex-flow: row wrap;
  row-gap: 1.5384615385rem;
  column-gap: 1.5384615385rem;
}
.main-category__wrapper .category-image__wrapper {
  width: calc((100% - 1.5384615385rem) / 2);
}
.main-category__wrapper .category--image {
  width: 100%;
  object-fit: cover;
  display: block;
}
.main-category__wrapper .category--title {
  font: 1.3846153846rem/1.5384615385rem var(--font-title);
  margin-top: 0.9230769231rem;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  max-width: 100%;
  white-space: nowrap;
}
.main-adposter__wrapper {
  padding-bottom: 3.0769230769rem;
  margin: 0 1.2307692308rem;
}
.main-adposter__wrapper .adposter-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.main-product__wrapper {
  margin: 0 1.2307692308rem;
  padding: 3.0769230769rem 0;
}
.main-product__wrapper .product-media {
  list-style: none;
  width: 100%;
  flex-flow: row wrap;
  row-gap: 1.5384615385rem;
  column-gap: 1.5384615385rem;
}
.main-product__wrapper .product-image__wrapper {
  width: calc((100% - 1.5384615385rem) / 2);
}
.main-product__wrapper .product--image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.main-product__wrapper .product-info {
  margin: 0.3846153846rem 0.3846153846rem;
}
.main-product__wrapper .product-info__name, .main-product__wrapper .product-info__price {
  display: block;
  white-space: wrap;
}
.main-product__wrapper .product-info__name {
  font: 1.3846153846rem/1.8461538462rem var(--font-title);
  margin: 0 0 0.3846153846rem;
  letter-spacing: -0.0769230769rem;
}
.main-product__wrapper .product-info__price {
  font-size: var(--font-size-price-2);
  color: #696969;
}
@media screen and (min-width: 768px) {
  .main-textblock__wrapper {
    padding: 4.9230769231rem 12%;
  }
  .main-category__wrapper .category-media {
    column-gap: 3.0769230769rem;
  }
  .main-category__wrapper .category-image__wrapper {
    width: calc((100% - 9.2307692308rem) / 4);
  }
  .main-product__wrapper .product-media {
    column-gap: 3.0769230769rem;
  }
  .main-product__wrapper .product-image__wrapper {
    width: calc((100% - 9.2307692308rem) / 4);
  }
}
@media screen and (min-width: 1920px) {
  .main-textblock__wrapper {
    padding-right: 11.5384615385rem;
    padding-left: 11.5384615385rem;
    max-width: 1258px;
    margin: 0 auto;
  }
  .main-textblock__wrapper .textblock-intro {
    margin: 0 7.6923076923rem 1.5384615385rem;
  }
  .main-category__wrapper {
    max-width: 1255px;
    margin: 0 auto;
  }
  .main-adposter__wrapper {
    max-width: 1258px;
    margin: 0 auto;
  }
  .main-product__wrapper {
    max-width: 1258px;
    margin: 0 auto;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 81.25%;
}

:root {
  --font-title: "Orator W01", "Gill Sans", "Gill Sans MT", calibri, serif;
  --font-body: "Helvetica W01", "Helvetica Neue", sans-serif;
  --font-body-secondary: "Courier New", monospace;
  --font-filosofia: "Filosofia", serif;
  --font-akkurat: "Akkurat", serif;
  --font-jungle-love: "Jungle-Regular", serif;
  --font-brides-de-gala: "BridesdeGala-Regular", serif;
  --font-mors-a-jouet: "Mors-Regular-Auto", serif;
  --font-size-breadcrumb: 1.2307692308rem;
  --font-size-title-xlarge: 2.2307692308rem;
  --font-size-title-large: 1.8461538462rem;
  --font-size-title-medium: 1.5384615385rem;
  --font-size-title-small: 1.2307692308rem;
  --font-size-title-xsmall: 1.0769230769rem;
  --font-size-title-xxsmall: 1rem;
  --font-size-cta: 1.0769230769rem;
  --font-size-price-1: 1.5384615385rem;
  --font-size-price-2: 1.0769230769rem;
  --font-size-price-3: 0.9230769231rem;
  --font-size-price-4: 1.2307692308rem;
  --font-size-price-5: 0.7692307692rem;
  --font-size-paragraph: 1.0769230769rem;
  --font-size-link: 1.0769230769rem;
  --font-size-error: 0.9230769231rem;
  --font-size-mini-text: 0.9230769231rem;
  --font-size-information-text: 0.8461538462rem;
  --font-size-text-small: 0.7692307692rem;
  --font-size-text-medium: 0.9230769231rem;
  --font-size-text-large: 1.0769230769rem;
  --font-weight-title: 400;
  --font-weight-title-bold: 600;
  --font-weight-cta: 500;
  --font-weight-price-1: 400;
  --font-weight-price-2: 400;
  --font-weight-paragraph: 400;
  --font-weight-paragraph-bold: 600;
  --font-weight-link: 400;
  --font-weight-error: 400;
  --font-weight-mini-text: 400;
}

body {
  font-family: var(--font-body);
  color: #444;
  background-color: #f6f1eb;
  line-height: 157.1428571429%;
  font-weight: 200;
}

/*Components*/
/*Sections*/

/*# sourceMappingURL=style.css.map */
